<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.code.mydiary">

    <!-- 声明粗略位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 声明精确位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 高德Key -->

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.myDiary"
        tools:targetApi="31">

        <service android:name="com.amap.api.location.APSService" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a6b51c19f672df49f2cc18662641ac87" />

        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name=".AddDiary"
        android:windowSoftInputMode="adjustResize"
        />
        <activity android:name=".Menu"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Register"/>
        <activity android:name=".SOSActivity"/>
        <activity
            android:name=".NoListActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".TimeReverseEndActivity"/>
    </application>

</manifest>